<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
# Find and count duplicate rows
duplicate_rows_count = df.duplicated().sum()

print("Number of duplicate rows:", duplicate_rows_count)

Number of duplicate rows: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [14]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [15]:
# your code goes here
duplicate_rows_count = df.duplicated().sum()

print("Number of duplicate rows:", duplicate_rows_count)

Number of duplicate rows: 0

## Finding Missing values

Find the missing values for all columns.

In [17]:
# your code goes here
missing_data = df.isnull()
print(missing_data.head())
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

   Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0       False       False     False        False       False       False
1       False       False     False        False       False       False
2       False       False     False        False       False       False
3       False       False     False        False       False       False
4       False       False     False        False       False       False

   Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0    False    False    False           False  ...          False
1    False    False    False           False  ...          False
2    False    False    False           False  ...          False
3    False    False    False            True  ...          False
4    False    False    False           False  ...          False

   SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0         False  False   False  False      False      False       False
1          True  False   False  False      False      False       False
2         False  False   False  False      False      False       False
3         False  False   False  False      False      False       False
4         False  False   False  False      False      False       False

   SurveyLength  SurveyEase
0         False       False
1         False       False
2         False       False
3         False       False
4         False       False

[5 rows x 85 columns]
Respondent
False    11398
Name: Respondent, dtype: int64

MainBranch
False    11398
Name: MainBranch, dtype: int64

Hobbyist
False    11398
Name: Hobbyist, dtype: int64

OpenSourcer
False    11398
Name: OpenSourcer, dtype: int64

OpenSource
False    11317
True        81
Name: OpenSource, dtype: int64

Employment
False    11398
Name: Employment, dtype: int64

Country
False    11398
Name: Country, dtype: int64

Student
False    11347
True        51
Name: Student, dtype: int64

EdLevel
False    11286
True       112
Name: EdLevel, dtype: int64

UndergradMajor
False    10661
True       737
Name: UndergradMajor, dtype: int64

EduOther
False    11234
True       164
Name: EduOther, dtype: int64

OrgSize
False    11302
True        96
Name: OrgSize, dtype: int64

DevType
False    11333
True        65
Name: DevType, dtype: int64

YearsCode
False    11389
True         9
Name: YearsCode, dtype: int64

Age1stCode
False    11385
True        13
Name: Age1stCode, dtype: int64

YearsCodePro
False    11382
True        16
Name: YearsCodePro, dtype: int64

CareerSat
False    11398
Name: CareerSat, dtype: int64

JobSat
False    11397
True         1
Name: JobSat, dtype: int64

MgrIdiot
False    10905
True       493
Name: MgrIdiot, dtype: int64

MgrMoney
False    10901
True       497
Name: MgrMoney, dtype: int64

MgrWant
False    10905
True       493
Name: MgrWant, dtype: int64

JobSeek
False    11398
Name: JobSeek, dtype: int64

LastHireDate
False    11398
Name: LastHireDate, dtype: int64

LastInt
False    10985
True       413
Name: LastInt, dtype: int64

FizzBuzz
False    11361
True        37
Name: FizzBuzz, dtype: int64

JobFactors
False    11395
True         3
Name: JobFactors, dtype: int64

ResumeUpdate
False    11359
True        39
Name: ResumeUpdate, dtype: int64

CurrencySymbol
False    11398
Name: CurrencySymbol, dtype: int64

CurrencyDesc
False    11398
Name: CurrencyDesc, dtype: int64

CompTotal
False    10589
True       809
Name: CompTotal, dtype: int64

CompFreq
False    11192
True       206
Name: CompFreq, dtype: int64

ConvertedComp
False    10582
True       816
Name: ConvertedComp, dtype: int64

WorkWeekHrs
False    11276
True       122
Name: WorkWeekHrs, dtype: int64

WorkPlan
False    11277
True       121
Name: WorkPlan, dtype: int64

WorkChallenge
False    11234
True       164
Name: WorkChallenge, dtype: int64

WorkRemote
False    11390
True         8
Name: WorkRemote, dtype: int64

WorkLoc
False    11366
True        32
Name: WorkLoc, dtype: int64

ImpSyn
False    11393
True         5
Name: ImpSyn, dtype: int64

CodeRev
False    11397
True         1
Name: CodeRev, dtype: int64

CodeRevHrs
False    8972
True     2426
Name: CodeRevHrs, dtype: int64

UnitTests
False    11369
True        29
Name: UnitTests, dtype: int64

PurchaseHow
False    11202
True       196
Name: PurchaseHow, dtype: int64

PurchaseWhat
False    11360
True        38
Name: PurchaseWhat, dtype: int64

LanguageWorkedWith
False    11387
True        11
Name: LanguageWorkedWith, dtype: int64

LanguageDesireNextYear
False    11264
True       134
Name: LanguageDesireNextYear, dtype: int64

DatabaseWorkedWith
False    10945
True       453
Name: DatabaseWorkedWith, dtype: int64

DatabaseDesireNextYear
False    10356
True      1042
Name: DatabaseDesireNextYear, dtype: int64

PlatformWorkedWith
False    10987
True       411
Name: PlatformWorkedWith, dtype: int64

PlatformDesireNextYear
False    10854
True       544
Name: PlatformDesireNextYear, dtype: int64

WebFrameWorkedWith
False    10005
True      1393
Name: WebFrameWorkedWith, dtype: int64

WebFrameDesireNextYear
False    9781
True     1617
Name: WebFrameDesireNextYear, dtype: int64

MiscTechWorkedWith
False    9216
True     2182
Name: MiscTechWorkedWith, dtype: int64

MiscTechDesireNextYear
False    9943
True     1455
Name: MiscTechDesireNextYear, dtype: int64

DevEnviron
False    11369
True        29
Name: DevEnviron, dtype: int64

OpSys
False    11364
True        34
Name: OpSys, dtype: int64

Containers
False    11316
True        82
Name: Containers, dtype: int64

BlockchainOrg
False    9076
True     2322
Name: BlockchainOrg, dtype: int64

BlockchainIs
False    8788
True     2610
Name: BlockchainIs, dtype: int64

BetterLife
False    11300
True        98
Name: BetterLife, dtype: int64

ITperson
False    11363
True        35
Name: ITperson, dtype: int64

OffOn
False    11360
True        38
Name: OffOn, dtype: int64

SocialMedia
False    11105
True       293
Name: SocialMedia, dtype: int64

Extraversion
False    11378
True        20
Name: Extraversion, dtype: int64

ScreenName
False    10891
True       507
Name: ScreenName, dtype: int64

SOVisit1st
False    11073
True       325
Name: SOVisit1st, dtype: int64

SOVisitFreq
False    11393
True         5
Name: SOVisitFreq, dtype: int64

SOVisitTo
False    11397
True         1
Name: SOVisitTo, dtype: int64

SOFindAnswer
False    11395
True         3
Name: SOFindAnswer, dtype: int64

SOTimeSaved
False    11348
True        50
Name: SOTimeSaved, dtype: int64

SOHowMuchTime
False    9481
True     1917
Name: SOHowMuchTime, dtype: int64

SOAccount
False    11397
True         1
Name: SOAccount, dtype: int64

SOPartFreq
False    10270
True      1128
Name: SOPartFreq, dtype: int64

SOJobs
False    11392
True         6
Name: SOJobs, dtype: int64

EntTeams
False    11393
True         5
Name: EntTeams, dtype: int64

SOComm
False    11398
Name: SOComm, dtype: int64

WelcomeChange
False    11313
True        85
Name: WelcomeChange, dtype: int64

SONewContent
False    9433
True     1965
Name: SONewContent, dtype: int64

Age
False    11111
True       287
Name: Age, dtype: int64

Gender
False    11325
True        73
Name: Gender, dtype: int64

Trans
False    11275
True       123
Name: Trans, dtype: int64

Sexuality
False    10856
True       542
Name: Sexuality, dtype: int64

Ethnicity
False    10723
True       675
Name: Ethnicity, dtype: int64

Dependents
False    11258
True       140
Name: Dependents, dtype: int64

SurveyLength
False    11379
True        19
Name: SurveyLength, dtype: int64

SurveyEase
False    11384
True        14
Name: SurveyEase, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [18]:
# your code goes here
# Find and count missing values in the 'WorkLoc' column
missing_rows_count = df['WorkLoc'].isnull().sum()

print("Number of missing rows in 'WorkLoc' column:", missing_rows_count)

Number of missing rows in 'WorkLoc' column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [19]:
# your code goes here
# Find value counts for the 'WorkLoc' column
workloc_value_counts = df['WorkLoc'].value_counts()

print("Value counts for 'WorkLoc' column:")
print(workloc_value_counts)

Value counts for 'WorkLoc' column:
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [20]:
#make a note of the majority value here, for future reference
# Find the most frequent value in the 'WorkLoc' column
most_frequent_value = df['WorkLoc'].value_counts().idxmax()

print("Most frequent value in 'WorkLoc' column:", most_frequent_value)

Most frequent value in 'WorkLoc' column: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [22]:
# your code goes here
# Find the most frequent value in the 'WorkLoc' column
most_frequent_value = df['WorkLoc'].value_counts().idxmax()

# Impute (replace) empty rows with the most frequent value
df['WorkLoc'].fillna(most_frequent_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [25]:
# your code goes here
# Display the DataFrame after imputation
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")
print("DataFrame after imputation:")
print(df)

Respondent
False    11398
Name: Respondent, dtype: int64

MainBranch
False    11398
Name: MainBranch, dtype: int64

Hobbyist
False    11398
Name: Hobbyist, dtype: int64

OpenSourcer
False    11398
Name: OpenSourcer, dtype: int64

OpenSource
False    11317
True        81
Name: OpenSource, dtype: int64

Employment
False    11398
Name: Employment, dtype: int64

Country
False    11398
Name: Country, dtype: int64

Student
False    11347
True        51
Name: Student, dtype: int64

EdLevel
False    11286
True       112
Name: EdLevel, dtype: int64

UndergradMajor
False    10661
True       737
Name: UndergradMajor, dtype: int64

EduOther
False    11234
True       164
Name: EduOther, dtype: int64

OrgSize
False    11302
True        96
Name: OrgSize, dtype: int64

DevType
False    11333
True        65
Name: DevType, dtype: int64

YearsCode
False    11389
True         9
Name: YearsCode, dtype: int64

Age1stCode
False    11385
True        13
Name: Age1stCode, dtype: int64

YearsCodePro
False    11382
True        16
Name: YearsCodePro, dtype: int64

CareerSat
False    11398
Name: CareerSat, dtype: int64

JobSat
False    11397
True         1
Name: JobSat, dtype: int64

MgrIdiot
False    10905
True       493
Name: MgrIdiot, dtype: int64

MgrMoney
False    10901
True       497
Name: MgrMoney, dtype: int64

MgrWant
False    10905
True       493
Name: MgrWant, dtype: int64

JobSeek
False    11398
Name: JobSeek, dtype: int64

LastHireDate
False    11398
Name: LastHireDate, dtype: int64

LastInt
False    10985
True       413
Name: LastInt, dtype: int64

FizzBuzz
False    11361
True        37
Name: FizzBuzz, dtype: int64

JobFactors
False    11395
True         3
Name: JobFactors, dtype: int64

ResumeUpdate
False    11359
True        39
Name: ResumeUpdate, dtype: int64

CurrencySymbol
False    11398
Name: CurrencySymbol, dtype: int64

CurrencyDesc
False    11398
Name: CurrencyDesc, dtype: int64

CompTotal
False    10589
True       809
Name: CompTotal, dtype: int64

CompFreq
False    11192
True       206
Name: CompFreq, dtype: int64

ConvertedComp
False    10582
True       816
Name: ConvertedComp, dtype: int64

WorkWeekHrs
False    11276
True       122
Name: WorkWeekHrs, dtype: int64

WorkPlan
False    11277
True       121
Name: WorkPlan, dtype: int64

WorkChallenge
False    11234
True       164
Name: WorkChallenge, dtype: int64

WorkRemote
False    11390
True         8
Name: WorkRemote, dtype: int64

WorkLoc
False    11398
Name: WorkLoc, dtype: int64

ImpSyn
False    11393
True         5
Name: ImpSyn, dtype: int64

CodeRev
False    11397
True         1
Name: CodeRev, dtype: int64

CodeRevHrs
False    8972
True     2426
Name: CodeRevHrs, dtype: int64

UnitTests
False    11369
True        29
Name: UnitTests, dtype: int64

PurchaseHow
False    11202
True       196
Name: PurchaseHow, dtype: int64

PurchaseWhat
False    11360
True        38
Name: PurchaseWhat, dtype: int64

LanguageWorkedWith
False    11387
True        11
Name: LanguageWorkedWith, dtype: int64

LanguageDesireNextYear
False    11264
True       134
Name: LanguageDesireNextYear, dtype: int64

DatabaseWorkedWith
False    10945
True       453
Name: DatabaseWorkedWith, dtype: int64

DatabaseDesireNextYear
False    10356
True      1042
Name: DatabaseDesireNextYear, dtype: int64

PlatformWorkedWith
False    10987
True       411
Name: PlatformWorkedWith, dtype: int64

PlatformDesireNextYear
False    10854
True       544
Name: PlatformDesireNextYear, dtype: int64

WebFrameWorkedWith
False    10005
True      1393
Name: WebFrameWorkedWith, dtype: int64

WebFrameDesireNextYear
False    9781
True     1617
Name: WebFrameDesireNextYear, dtype: int64

MiscTechWorkedWith
False    9216
True     2182
Name: MiscTechWorkedWith, dtype: int64

MiscTechDesireNextYear
False    9943
True     1455
Name: MiscTechDesireNextYear, dtype: int64

DevEnviron
False    11369
True        29
Name: DevEnviron, dtype: int64

OpSys
False    11364
True        34
Name: OpSys, dtype: int64

Containers
False    11316
True        82
Name: Containers, dtype: int64

BlockchainOrg
False    9076
True     2322
Name: BlockchainOrg, dtype: int64

BlockchainIs
False    8788
True     2610
Name: BlockchainIs, dtype: int64

BetterLife
False    11300
True        98
Name: BetterLife, dtype: int64

ITperson
False    11363
True        35
Name: ITperson, dtype: int64

OffOn
False    11360
True        38
Name: OffOn, dtype: int64

SocialMedia
False    11105
True       293
Name: SocialMedia, dtype: int64

Extraversion
False    11378
True        20
Name: Extraversion, dtype: int64

ScreenName
False    10891
True       507
Name: ScreenName, dtype: int64

SOVisit1st
False    11073
True       325
Name: SOVisit1st, dtype: int64

SOVisitFreq
False    11393
True         5
Name: SOVisitFreq, dtype: int64

SOVisitTo
False    11397
True         1
Name: SOVisitTo, dtype: int64

SOFindAnswer
False    11395
True         3
Name: SOFindAnswer, dtype: int64

SOTimeSaved
False    11348
True        50
Name: SOTimeSaved, dtype: int64

SOHowMuchTime
False    9481
True     1917
Name: SOHowMuchTime, dtype: int64

SOAccount
False    11397
True         1
Name: SOAccount, dtype: int64

SOPartFreq
False    10270
True      1128
Name: SOPartFreq, dtype: int64

SOJobs
False    11392
True         6
Name: SOJobs, dtype: int64

EntTeams
False    11393
True         5
Name: EntTeams, dtype: int64

SOComm
False    11398
Name: SOComm, dtype: int64

WelcomeChange
False    11313
True        85
Name: WelcomeChange, dtype: int64

SONewContent
False    9433
True     1965
Name: SONewContent, dtype: int64

Age
False    11111
True       287
Name: Age, dtype: int64

Gender
False    11325
True        73
Name: Gender, dtype: int64

Trans
False    11275
True       123
Name: Trans, dtype: int64

Sexuality
False    10856
True       542
Name: Sexuality, dtype: int64

Ethnicity
False    10723
True       675
Name: Ethnicity, dtype: int64

Dependents
False    11258
True       140
Name: Dependents, dtype: int64

SurveyLength
False    11379
True        19
Name: SurveyLength, dtype: int64

SurveyEase
False    11384
True        14
Name: SurveyEase, dtype: int64

DataFrame after imputation:
       Respondent                      MainBranch Hobbyist  \
0               4  I am a developer by profession       No
1               9  I am a developer by profession      Yes
2              13  I am a developer by profession      Yes
3              16  I am a developer by profession      Yes
4              17  I am a developer by profession      Yes
...           ...                             ...      ...
11547       25136  I am a developer by profession      Yes
11548       25137  I am a developer by profession      Yes
11549       25138  I am a developer by profession      Yes
11550       25141  I am a developer by profession      Yes
11551       25142  I am a developer by profession      Yes

                                             OpenSourcer  \
0                                                  Never
1                             Once a month or more often
2      Less than once a month but more than once per ...
3                                                  Never
4      Less than once a month but more than once per ...
...                                                  ...
11547                                              Never
11548                                              Never
11549                            Less than once per year
11550  Less than once a month but more than once per ...
11551  Less than once a month but more than once per ...

                                              OpenSource          Employment  \
0      The quality of OSS and closed source software ...  Employed full-time
1      The quality of OSS and closed source software ...  Employed full-time
2      OSS is, on average, of HIGHER quality than pro...  Employed full-time
3      The quality of OSS and closed source software ...  Employed full-time
4      The quality of OSS and closed source software ...  Employed full-time
...                                                  ...                 ...
11547  OSS is, on average, of HIGHER quality than pro...  Employed full-time
11548  The quality of OSS and closed source software ...  Employed full-time
11549  The quality of OSS and closed source software ...  Employed full-time
11550  OSS is, on average, of LOWER quality than prop...  Employed full-time
11551  OSS is, on average, of HIGHER quality than pro...  Employed full-time

              Country Student  \
0       United States      No
1         New Zealand      No
2       United States      No
3      United Kingdom      No
4           Australia      No
...               ...     ...
11547   United States      No
11548          Poland      No
11549   United States      No
11550     Switzerland      No
11551  United Kingdom      No

                                                 EdLevel  \
0               Bachelor’s degree (BA, BS, B.Eng., etc.)
1      Some college/university study without earning ...
2            Master’s degree (MA, MS, M.Eng., MBA, etc.)
3            Master’s degree (MA, MS, M.Eng., MBA, etc.)
4               Bachelor’s degree (BA, BS, B.Eng., etc.)
...                                                  ...
11547        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11548        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11549        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11550  Secondary school (e.g. American high school, G...
11551          Other doctoral degree (Ph.D, Ed.D., etc.)

                                          UndergradMajor  ...  \
0      Computer science, computer engineering, or sof...  ...
1      Computer science, computer engineering, or sof...  ...
2      Computer science, computer engineering, or sof...  ...
3                                                    NaN  ...
4      Computer science, computer engineering, or sof...  ...
...                                                  ...  ...
11547  Computer science, computer engineering, or sof...  ...
11548  Computer science, computer engineering, or sof...  ...
11549  Computer science, computer engineering, or sof...  ...
11550                                                NaN  ...
11551  A natural science (ex. biology, chemistry, phy...  ...

                                  WelcomeChange  \
0       Just as welcome now as I felt last year
1       Just as welcome now as I felt last year
2      Somewhat more welcome now than last year
3       Just as welcome now as I felt last year
4       Just as welcome now as I felt last year
...                                         ...
11547   Just as welcome now as I felt last year
11548     A lot more welcome now than last year
11549     A lot more welcome now than last year
11550  Somewhat less welcome now than last year
11551   Just as welcome now as I felt last year

                                            SONewContent   Age Gender Trans  \
0      Tech articles written by other developers;Indu...  22.0    Man    No
1                                                    NaN  23.0    Man    No
2      Tech articles written by other developers;Cour...  28.0    Man    No
3      Tech articles written by other developers;Indu...  26.0    Man    No
4      Tech articles written by other developers;Indu...  29.0    Man    No
...                                                  ...   ...    ...   ...
11547  Tech articles written by other developers;Cour...  36.0    Man    No
11548  Tech articles written by other developers;Tech...  25.0    Man    No
11549  Tech articles written by other developers;Indu...  34.0    Man    No
11550                                                NaN  25.0    Man    No
11551  Tech articles written by other developers;Tech...  30.0    Man    No

                     Sexuality                              Ethnicity  \
0      Straight / Heterosexual           White or of European descent
1                     Bisexual           White or of European descent
2      Straight / Heterosexual           White or of European descent
3      Straight / Heterosexual           White or of European descent
4      Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial
...                        ...                                    ...
11547  Straight / Heterosexual           White or of European descent
11548  Straight / Heterosexual           White or of European descent
11549  Straight / Heterosexual           White or of European descent
11550  Straight / Heterosexual           White or of European descent
11551                 Bisexual           White or of European descent

      Dependents           SurveyLength                  SurveyEase
0             No  Appropriate in length                        Easy
1             No  Appropriate in length  Neither easy nor difficult
2            Yes  Appropriate in length                        Easy
3             No  Appropriate in length  Neither easy nor difficult
4             No  Appropriate in length                        Easy
...          ...                    ...                         ...
11547         No  Appropriate in length                   Difficult
11548         No  Appropriate in length  Neither easy nor difficult
11549        Yes               Too long                        Easy
11550         No  Appropriate in length                        Easy
11551         No  Appropriate in length                        Easy

[11398 rows x 85 columns]

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [24]:
# your code goes here
# List out the various categories in the 'CompFreq' column
compfreq_categories = df['CompFreq'].unique()

print("Various categories in 'CompFreq' column:")
print(compfreq_categories)

Various categories in 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [26]:
# your code goes here
# Create a new column 'NormalizedAnnualCompensation'
df['NormalizedAnnualCompensation'] = df.apply(lambda row: row['CompTotal'] * 12 if row['CompFreq'] == 'Monthly' else (row['CompTotal'] * 52 if row['CompFreq'] == 'Weekly' else row['CompTotal']), axis=1)

# Display the DataFrame with the new column
print("DataFrame with 'NormalizedAnnualCompensation' column:")
print(df)

DataFrame with 'NormalizedAnnualCompensation' column:
       Respondent                      MainBranch Hobbyist  \
0               4  I am a developer by profession       No
1               9  I am a developer by profession      Yes
2              13  I am a developer by profession      Yes
3              16  I am a developer by profession      Yes
4              17  I am a developer by profession      Yes
...           ...                             ...      ...
11547       25136  I am a developer by profession      Yes
11548       25137  I am a developer by profession      Yes
11549       25138  I am a developer by profession      Yes
11550       25141  I am a developer by profession      Yes
11551       25142  I am a developer by profession      Yes

                                             OpenSourcer  \
0                                                  Never
1                             Once a month or more often
2      Less than once a month but more than once per ...
3                                                  Never
4      Less than once a month but more than once per ...
...                                                  ...
11547                                              Never
11548                                              Never
11549                            Less than once per year
11550  Less than once a month but more than once per ...
11551  Less than once a month but more than once per ...

                                              OpenSource          Employment  \
0      The quality of OSS and closed source software ...  Employed full-time
1      The quality of OSS and closed source software ...  Employed full-time
2      OSS is, on average, of HIGHER quality than pro...  Employed full-time
3      The quality of OSS and closed source software ...  Employed full-time
4      The quality of OSS and closed source software ...  Employed full-time
...                                                  ...                 ...
11547  OSS is, on average, of HIGHER quality than pro...  Employed full-time
11548  The quality of OSS and closed source software ...  Employed full-time
11549  The quality of OSS and closed source software ...  Employed full-time
11550  OSS is, on average, of LOWER quality than prop...  Employed full-time
11551  OSS is, on average, of HIGHER quality than pro...  Employed full-time

              Country Student  \
0       United States      No
1         New Zealand      No
2       United States      No
3      United Kingdom      No
4           Australia      No
...               ...     ...
11547   United States      No
11548          Poland      No
11549   United States      No
11550     Switzerland      No
11551  United Kingdom      No

                                                 EdLevel  \
0               Bachelor’s degree (BA, BS, B.Eng., etc.)
1      Some college/university study without earning ...
2            Master’s degree (MA, MS, M.Eng., MBA, etc.)
3            Master’s degree (MA, MS, M.Eng., MBA, etc.)
4               Bachelor’s degree (BA, BS, B.Eng., etc.)
...                                                  ...
11547        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11548        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11549        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11550  Secondary school (e.g. American high school, G...
11551          Other doctoral degree (Ph.D, Ed.D., etc.)

                                          UndergradMajor  ...  \
0      Computer science, computer engineering, or sof...  ...
1      Computer science, computer engineering, or sof...  ...
2      Computer science, computer engineering, or sof...  ...
3                                                    NaN  ...
4      Computer science, computer engineering, or sof...  ...
...                                                  ...  ...
11547  Computer science, computer engineering, or sof...  ...
11548  Computer science, computer engineering, or sof...  ...
11549  Computer science, computer engineering, or sof...  ...
11550                                                NaN  ...
11551  A natural science (ex. biology, chemistry, phy...  ...

                                            SONewContent   Age Gender Trans  \
0      Tech articles written by other developers;Indu...  22.0    Man    No
1                                                    NaN  23.0    Man    No
2      Tech articles written by other developers;Cour...  28.0    Man    No
3      Tech articles written by other developers;Indu...  26.0    Man    No
4      Tech articles written by other developers;Indu...  29.0    Man    No
...                                                  ...   ...    ...   ...
11547  Tech articles written by other developers;Cour...  36.0    Man    No
11548  Tech articles written by other developers;Tech...  25.0    Man    No
11549  Tech articles written by other developers;Indu...  34.0    Man    No
11550                                                NaN  25.0    Man    No
11551  Tech articles written by other developers;Tech...  30.0    Man    No

                     Sexuality                              Ethnicity  \
0      Straight / Heterosexual           White or of European descent
1                     Bisexual           White or of European descent
2      Straight / Heterosexual           White or of European descent
3      Straight / Heterosexual           White or of European descent
4      Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial
...                        ...                                    ...
11547  Straight / Heterosexual           White or of European descent
11548  Straight / Heterosexual           White or of European descent
11549  Straight / Heterosexual           White or of European descent
11550  Straight / Heterosexual           White or of European descent
11551                 Bisexual           White or of European descent

      Dependents           SurveyLength                  SurveyEase  \
0             No  Appropriate in length                        Easy
1             No  Appropriate in length  Neither easy nor difficult
2            Yes  Appropriate in length                        Easy
3             No  Appropriate in length  Neither easy nor difficult
4             No  Appropriate in length                        Easy
...          ...                    ...                         ...
11547         No  Appropriate in length                   Difficult
11548         No  Appropriate in length  Neither easy nor difficult
11549        Yes               Too long                        Easy
11550         No  Appropriate in length                        Easy
11551         No  Appropriate in length                        Easy

      NormalizedAnnualCompensation
0                          61000.0
1                         138000.0
2                          90000.0
3                         348000.0
4                          90000.0
...                            ...
11547                     130000.0
11548                      74400.0
11549                     105000.0
11550                      80000.0
11551                          NaN

[11398 rows x 86 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).